services:
  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123
    ports:
      - "5437:5432"
    volumes:
      - ./../db/postgres/init-base.sql:/docker-entrypoint-initdb.d/1-init-base.sql
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  config-server:
    image: config-server:latest
    container_name: config-server
    ports:
      - "8888:8888"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  eureka-server:
    image: eureka-server:latest
    container_name: eureka-server
    ports:
      - "8761:8761"
    depends_on:
      config-server:
        condition: service_healthy

  gateway:
    image: gateway:latest
    container_name: gateway
    ports:
      - "9000:9000"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started

  auth-service:
    image: auth-service:latest
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

  league-service:
    image: league-service:latest
    container_name: league-service
    ports:
      - "8084:8084"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

  teams-service:
    image: teams-service:latest
    container_name: teams-service
    ports:
      - "8083:8083"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

  news-service:
    image: news-service:latest
    container_name: news-service
    ports:
      - "8082:8082"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

  fixture-service:
    image: fixture-service:latest
    container_name: fixture-service
    ports:
      - "8085:8085"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

  standing-service:
    image: standing-service:latest
    container_name: standing-service
    ports:
      - "8086:8086"
    depends_on:
      config-server:
        condition: service_healthy
      eureka-server:
        condition: service_started
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
